beautifulsoup4==4.6.3
certifi==2018.11.29
chardet==3.0.4
docker==3.6.0
docker-pycreds==0.4.0
idna==2.7
numpy==1.15.4
pandas==0.23.4
psycopg2-binary==2.7.6.1
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
requests==2.20.1
selenium==3.141.0
six==1.11.0
SQLAlchemy==1.2.14
toolz==0.9.0
tqdm==4.28.1
urllib3==1.24.1
websocket-client==0.54.0
